<%= javascript_pack_tag 'home' %>

<div class="container">
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <select id="issue-select" class="custom-select custom-select-lg mb-3">
    <option selected value="open">Open</option>
    <option value="closed">Closed</option>
    <option value="all">All</option>
  </select>

  <table id="issue-table" class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">user</th>
        <th scope="col">state</th>
        <th scope="col">created_at</th>
        <th scope="col">action</th>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
